*{
    box-sizing: border-box;
}

body{
    background-color: rgb(232, 232, 248);
    background-image: url('./images/cork.png');
    background-repeat: repeat;
    position: static;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.add{
    background-color: #5c723d;
    border-radius: 3px;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 0.5rem 1rem;
    position: fixed;
    z-index: 100;
    box-shadow: 4px 4px 4px rgba(78, 75, 75, 0.4);
    top: 1rem;
    right: 1rem;
}
.note{
    background-color: #fff;
    margin: 20px;
    width: 400px;
    box-shadow: 6px 6px 5px rgba(78, 75, 75, 0.3);
    z-index: 50;	
}
.note .tools{
    background-color: #9EC862;
    padding: 0.5rem;
    display: flex;
    justify-content: flex-end;
}
.note .tools button{
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    border: none;
    font-size: 1rem;
    margin-left: 0.5rem;
}
.note .main{
    background-color: #eee;
    width: 100%;
    overflow: auto;
    height: 400px;
	padding-left:5px;
}
.note textarea{
    font-family: inherit;
    outline: none;
    border: none;
    font-size: 1.2rem;
    height: 400px;
    width: 100%;
    max-width: 100%;
    max-height: 400px;
    min-width: 100%;
    min-height: 400px;
	padding-left:5px;
}
.note .hidden{
    display: none;
}

::-webkit-scrollbar{
    width: 7px;
}
::-webkit-scrollbar-track{
    background: #5C723D;
}
::-webkit-scrollbar-thumb{
    background: #888;
}
::-webkit-scrollbar-thumb:hover{
    background: rgb(129, 73, 73);
}
